:root {
  --primary-color: #885df1;
}

body {
  background-color: #f9f7fe;
  font-size: 16px;
}
h1 {
  text-align: center;
}
a {
  color: var(--primary-color);
}
a:visited {
  color: #875df1b0;
}
a:hover {
  color: darkorchid;
}
footer {
  margin-top: 15px;
  padding: 5px;
  border-top: 1px solid var(--primary-color);
  text-align: center;
  font-size: 12px;
}
