:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px auto;
  max-width: 800px;
  background: #f9f7ff;
  padding: 0 20px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
p {
  font-size: 18px;
  line-height: 1.5;
}

a:hover {
  color: #0a58ca;
}
img {
  display: inline-block;
}
footer {
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.app-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.footer-placeholder {
  border-top: 1px solid black;
  padding: 10px;
  text-align: center;
  margin: 25px 30px 0;
  font-size: 12px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
    line-height: 1.3;
  }
  .email-link {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 16px;
  }
  .email-link {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 14px;
  }
  .email-link {
    font-size: 16px;
  }
}
