:root {
  --link-background-color: #6c63ff;
  --secondary-color: #f5f7fe;
  --background-color: #f9f7fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Roboto", sans-serif;
}

body {
  max-width: 900px;
  font-family: var(--default-font-family);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
p {
  font-size: 18px;
  line-height: 1.5;
}

a:hover {
  color: #0a58ca;
}
img {
  display: inline-block;
}
footer {
  text-align: center;
}

.navbar {
  background: var(--background-color);
}
.first-section {
  background: var(--background-color);
  text-align: center;
  padding: 100px 15px 0;
}
.navigation-links {
  display: flex;
  margin-top: 25px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 5px;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--link-background-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.homepage-link {
  color: var(--link-background-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--link-background-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.app-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--link-background-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.footer-placeholder {
  border-top: 1px solid black;
  padding: 10px;
  text-align: center;
  margin: 25px 30px 0;
  font-size: 12px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
    line-height: 1.3;
  }
  .email-link {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  body,
  h1,
  h2,
  h3,
  h4 {
    font-family: none;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 16px;
  }
  .email-link {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 14px;
  }
  .email-link {
    font-size: 16px;
  }
}
